{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="/">Basketball Analytics!</a>
    <div>
        <button><a href="/">Go Back To Home Page</a></button>
        <button style="margin-left: 20px; margin-bottom: 15px;"><a href="/accounts/all">See All User Accounts</a>
        </button>
    </div>
</nav>


<div class="col-md-6 col-md-offset-3">
    <strong>{{username}}</strong>,
    <p>Learn more about your favourite team: <a href="/team/{{tmId}}/{{favouriteTeam}}">{{favouriteTeam}}</a></p>
    <p>Learn more about your favourite player: <a href="/players/{{favouritePlayer}}">{{favouritePlayer}}</a></p>
</div>

<div class="col-md-6 col-md-offset-3">
	{% if fantasyTeam == "None" %}
	{% else %}
	    <p>Your customized team: <strong>{{fantasyTeam}}</strong></p>

	    <table class="table table-bordered table-striped">
		    <tr>
		        <th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black">Point Guard</th>
		        <th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black">Shooting Guard</th>
		        <th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black">Small Forward</th>
		        <th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black">Power Forward</th>
		        <th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black">Center</th>
		    </tr>

		    <tr>
	            <td style="text-align: left; border-right: 1px solid black;">		<a href="/players/{{fantasyPlayers.PG}}">
	            		{{fantasyPlayers.PG}}
	            	</a>
	            </td>
	            <td style="text-align: left; border-right: 1px solid black;">
	            	<a href="/players/{{fantasyPlayers.SG}}">
	            		{{fantasyPlayers.SG}}
	            	</a>
	            </td>
	            <td style="text-align: left; border-right: 1px solid black;">
	            	<a href="/players/{{fantasyPlayers.SF}}">
	            		{{fantasyPlayers.SF}}
	            	</a>
	            </td>
	            <td style="text-align: left; border-right: 1px solid black;">
	            	<a href="/players/{{fantasyPlayers.PF}}">
	            		{{fantasyPlayers.PF}}
	            	</a>
	            </td>
	            <td style="text-align: left; border-right: 1px solid black;">
	            	<a href="/players/{{fantasyPlayers.C}}">
	            		{{fantasyPlayers.C}}
	            	</a>
	            </td>
	        </tr>
		</table>

		<table class="table table-bordered table-striped">
			<tr>
				<th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black">Shooting</th>
				<th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black">Passing</th>
				<th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black">Rebounding</th>
				<th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black">Defense</th>
				<th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black">Overall</th>
			</tr>

			<tr>
				<td style="text-align: left; border-right: 1px solid black;">{{teamScore.Shooting}}</td>
				<td style="text-align: left; border-right: 1px solid black;">{{teamScore.Passing}}</td>
				<td style="text-align: left; border-right: 1px solid black;">{{teamScore.Rebounding}}</td>
				<td style="text-align: left; border-right: 1px solid black;">{{teamScore.Defense}}</td>
				<td style="text-align: left; border-right: 1px solid black;">{{teamScore.Overall}}</td>
			</tr>
		</table>
	{% endif %}
</div>    
    





<!-- Update link for learning about favourite player -->