<h1>Account Details</h1>
<button><a href="/">Go Back To Home Page</a></button>
<button style="margin-left: 20px; margin-bottom: 15px;"><a href="/accounts/all">See All User Accounts</a></button>
<br>
<strong>{{username}}</strong>,
<p>Learn more about your favourite team: <a href="/team/{{tmId}}/{{favouriteTeam}}">{{favouriteTeam}}</a></p>
<p>Learn more about your favourite player: <a href="/players/{{favouritePlayer}}">{{favouritePlayer}}</a></p>

<!-- Update link for learning about favourite player -->