{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="/">Basketball Analytics!</a>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <h4>User Accounts</h4>
    </div>
</div>
<table class="table table-bordered table-striped">
    <tr>
        <th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black">Username</th>
        <th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black">Favourite Team</th>
        <th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black">Favourite Player</th>
        <th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black">Fantasy Team</th>
        <th style="text-align: left; border-bottom: 1px solid black">Sign In To Update/Delete</th>
        <!-- <th style="text-align: left; border-bottom: 1px solid black; border-right: 1px solid black">Update Favourite Team/Player</th>
        <th style="text-align: left; border-bottom: 1px solid black">Delete Account</th> -->
    </tr>
    {% for favouriteTeam in favouriteTeams %}
        <tr>
            <td style="text-align: left; border-right: 1px solid black;"><a href="/accounts/{{favouriteTeam.0}}/{{favouriteTeam.1}}/{{favouriteTeam.2}}/{{favouriteTeam.3}}/{{favouriteTeam.4}}/{{favouriteTeam.5}}">{{favouriteTeam.1}}</a></td>
            <td style="text-align: left; border-right: 1px solid black;"><a href="/team/{{favouriteTeam.2}}/{{favouriteTeam.3}}">{{favouriteTeam.3}}</a></td>
            <td style="text-align: left; border-right: 1px solid black;"><a href="/players/{{favouriteTeam.4}}">{{favouriteTeam.4}}</a></td>
            <td style="text-align: left; border-right: 1px solid black;">
                {% if favouriteTeam.5 == None %}
                <a>N/A</a>
                {% else %}
                <a href="/accounts/{{favouriteTeam.0}}/{{favouriteTeam.1}}/{{favouriteTeam.2}}/{{favouriteTeam.3}}/{{favouriteTeam.4}}/{{favouriteTeam.5}}">{{favouriteTeam.5}}</a>
                {% endif %}
            </td>
            <td style="text-align: left"><a href="/accounts/signin/{{favouriteTeam.0}}/{{favouriteTeam.1}}/{{favouriteTeam.2}}/{{favouriteTeam.3}}/{{favouriteTeam.4}}">Sign In</a></td>
            <!-- <td style="text-align: left; border-right: 1px solid black;"><a href="/accounts/update/signin/{{favouriteTeam.0}}/{{favouriteTeam.1}}/{{favouriteTeam.2}}/{{favouriteTeam.3}}/{{favouriteTeam.4}}">Update</a></td>
            <td style="text-align: left"><a href="/accounts/delete/signin/{{favouriteTeam.0}}/{{favouriteTeam.1}}/{{favouriteTeam.2}}/{{favouriteTeam.3}}/{{favouriteTeam.4}}">Delete</a></td> -->
        </tr>
    {% endfor %}
</table>