<h1>Welcome World!</h1>

<button><a href="/">Go Back To Home Page</a></button>

<p><strong>{{countOfTeams}}</strong> Teams played in the year {{year}}</p>

<table>
    <tr>
        <th style="text-align: left">Team ID</th>
        <th style="text-align: left">Team Name</th>
        <th style="text-align: left">Year</th>
    </tr>
    {% for team in teams %}
        <tr>
            <td style="text-align: left">{{team.0}}</td>
            <td style="text-align: left">{{team.1}}</td>
            <td style="text-align: left">{{team.2}}</td>
        </tr>
    {% endfor %}
</table>